In [1]:
import pandas as pd
import numpy as np

import requests

from match_parser import MatchParser
from database_worker import DataBaseWorker

live = requests.get('https://www.oddsfan.ru/live/events/24699021')
match = requests.get('https://www.oddsfan.ru/prematch/events/185214139')

live_data  = live.content
match_data = match.content

mp_live = MatchParser(live_data)
mp = MatchParser(match_data)

/usr/lib/python3/dist-packages/requests/__init__.py:80: RequestsDependencyWarning: urllib3 (1.25.7) or chardet (3.0.4) doesn't match a supported version!
  RequestsDependencyWarning)

In [14]:
mp.match_table

[!] There is no current_score block!

,match_name,time_shift,score1,score2,k_1,k_x,k_2,1,x,2
1,Культурал Леонеса vs Атлетико Мадрид,169.678409,None,None,11.75,5.75,1.25,0.086361,0.17746,0.806446

In [13]:
np.nanmean(mp.hda_k.values, axis=0)

array([11.75065574,  5.65657377,  1.24041667])

In [15]:
dbw = DataBaseWorker(
    "test_db.sqlite3",
    "matches",
    "test_em.sqlite3",
    "ended"
)
await dbw.write_data(mp)

TypeError: unsupported operand type(s) for /: 'builtin_function_or_method' and 'float'